<h1>This is the login page xD</h1>
<form action="/users/login" method="POST">
    <input type="email" name="email" placeholder="email-id">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>

</form>