<h1>Welcome to register page</h1>
<form action="/users/register" method="POST">
    <input type="text" placeholder="firstname" name="firstName">
    <input type="text" placeholder="lasttname" name="lastName">
    <input type="email" placeholder="email" name="email">
    <input type="number" placeholder="phone-number" name="phoneNumber">
    <input type="password" placeholder="password" name="password">
    <input type="password" placeholder="re-enter your password" name="password2">
    <button>Submit</button>
</form>