<h1>This is the add car form</h1>
<form action="/cars/addCars" method="POST" >
    <input type="text" placeholder="Category" name="category">
    <input type="text" plcaeholder="Brand" name="brand">
    <input type="text" placeholder="model" name="model">
    <input type="text" placeholder="registration" name="registration">
    <input type="text" placeholder="price" name="price">
    <input type="text" placeholder="location" name="location">
    <button>Submit</button>
</form>