<h1>This is the add car form</h1>
<form action="/cars/addCars" method="POST" >
    <input type="text" placeholder="Category" name="category"><br>
    <input type="text" plcaeholder="Brand" name="brand"><br>
    <input type="text" placeholder="model" name="model"><br>
    <input type="text" placeholder="registration" name="registration"><br>
    <input type="text" placeholder="price" name="price"><br>
    <input type="text" placeholder="location" name="location"><br>
    <input type="text" placeholder="no of seats" name="seats"><br>
    <input type="text" placeholder="transmission" name="transmission"><br>
    <input type="text" placeholder="excess-cost" name="excessCost"><br>
    <button>Submit</button>
</form>